// Decoration layout
// ----------------------------------------------------------------------------

.decoration {

  @extend %cover-image;
  height: 450px;

}

.scroll-holder {

  position: fixed;
  overflow: hidden;


}
