// ----------------------------------------------------------------------------
// Globals
//-----------------------------------------------------------------------------

* {

  @include box-sizing(border-box);

}

html,
body {

  height : 100%;

}

// Body
// ----------------------------------------------------------------------------

body {

  background : $clr-bg;
  color      : $clr-body-copy;

  font: {
    family : $text-default-family;
    size   : .9em;
  }

}

.hide {

  display : none;

}

