doctype transitional
html

  head

    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject

  body

    h1 TEST

    h2 This is a test email.

    if message

      p= message

    else

      p No message?
