extends layout

block title
  title Fiona &amp; Craig

block content

  section#main

    .decoration#intro
      h1 Fiona &amp; Craig are getting married!

    .content
      h2 Details
      dl.summary-list

        dt When:
        dd 7th February 2015, 1:30pm

        dt Where:
        dd Waihi Waterlily Gardens, Bay Of Plenty, New Zealand

    .decoration#decoration-1

    .content
      h2 Contact
      #contact
        a(href='mailto:wedding@fionaandcraig.com') wedding@fionaandcraig.com

    .decoration#decoration-2

    .content
      h2 Map
      #map
