extends layout

block title
  title Fish and Chips

block content

  #main

    //- Intro
    //-
    //-------------------------------------------------------------------------

    section#intro(
      data-smooth-scrolling="on",
      data-top        = "background-position:0 0em",
      data-top-bottom = "background-position:0 2em"
      )
      h1(
        data-top = "opacity:1",
        data-600 = "opacity:0"
        ) Fiona &amp; Craig are getting married!

    //- Navigation
    //-
    //-------------------------------------------------------------------------

    nav#navigation
      ul
        li
          a(href="#details") Details
        li
          a(href="#agenda") Agenda
        li
          a(href="#rsvp") RSVP
        li
          a(href="#telegram") Send a telegram
        li
          a(href="#registry") Registry


    //- Details
    //-
    //-------------------------------------------------------------------------

    section#details(
      data-bottom-top = "background-color:rgb(0,0,255)",
      data-top-bottom = "background-color:rba(255,0,0)"
      )

      h2 Details

      dl

        dt When
        dd 7th February 2015, 1:30pm

        dt Where
        dd Waihi Waterlily Gardens, Bay Of Plenty, New Zealand

      #contact
        a(href='mailto:wedding@fionaandcraig.com') wedding@fionaandcraig.com

      #map

    //- Agenda
    //-
    //-------------------------------------------------------------------------

    section#agenda

      h2 Agenda

      h3 Thursday, 5th February

      ul.list-agenda
        li
          span.time 7pm
          span.event TBD

      h3 Friday, 6th February

      ul.list-agenda
        li
          span.time 1.30 pm
          span.event Bus arrives at the venue
        li
          span.time 2 pm
          span.event Wedding ceremony
        li
          span.time 2.20 pm
          span.event Bubbles &amp; mingling
        li
          span.time 2.40 pm
          span.event Group photos
        li
          span.time 3 pm
          span.event Bridal party photos &amp; lawn games start

      h3 Saturday, 7th February

      ul.list-agenda
        li
          span.time 12 Midday
          span.event TBD

    //-RSVP
    //-------------------------------------------------------------------------

    section#rsvp

      h2 R.S.V.P.

      if rsvpErrorEmail

        p It looks like something went wrong and your message was not sent. This is probably Craig's fault. Can you pleasse try sending it again?

      if rsvpErrorEmpty

        p It looks like you didn't send a message, would you mind trying again?

      if rsvped

        p Thanks for RSVPing! An email has been sent to <a href="mailto:wedding@fionaandcraig.com">wedding@fionaandcraig.com<a/> with your message.
        button.btn.btn-retry I want to try again.

      else

        p You can RSVP by filling in the form below or emailling us at <a href="mailto:wedding@fionaandcraig.com">wedding@fionaandcraig.com<a/>.
        p It will help us plan correctly if you can tell us

        ul
          li what kind of food is out of bounds
          li if anyone on your invitation is not coming
          li who you are (the form doesn't know!)
          li if you need a place on the bus to the venue (if so, please let us know where you are staying)
          li your email address

        form.form#form-rsvp(action="/rsvp", method="post")

          ul
            li
              label.label(for="rsvp-message")

              if (rsvpMessage)
                textarea#rsvp-message(name="rsvpMessage", maxlength="800", rows="8", required)= rsvpMessage
              else
                textarea#rsvp-message(name="rsvpMessage", maxlength="800", rows="8", required)

            li
              input#rsvp-submit.input-submit(type="submit", value="RSVP")

    //- Telegram
    //-
    //-------------------------------------------------------------------------

    section#telegram

      h2 Send a telegram

    //- Registry
    //-
    //-------------------------------------------------------------------------

    section#registry

      h2. Registry

    //- KAIZEN
