extends layout


block content

  #main

    #intro(
      data-smooth-scrolling="on",
      data-top        = "background-position:0 0em",
      data-top-bottom = "background-position:0 2em"
      )
      h1(
        data-top = "opacity:1",
        data-600 = "opacity:0"
        ) Fiona &amp; Craig are getting married!

    nav#navigation
      ul
        li
          a(href="#details") Details
        li
          a(href="#agenda") Agenda
        li
          a(href="#rsvp") RSVP
        li
          a(href="#telegram") Send a telegram
        li
          a(href="#registry") Registry


    #details(
      data-bottom-top = "background-color:rgb(0,0,255)",
      data-top-bottom = "background-color:rba(255,0,0)"
      )

      h2 Details

      dl

        dt When:
        dd 7th February 2015, 1:30pm

        dt Where:
        dd Waihi Waterlily Gardens, Bay Of Plenty, New Zealand

      #contact
        a(href='mailto:wedding@fionaandcraig.com') wedding@fionaandcraig.com
      // -- pickup details
      // -- food restrictions
      // -- bringing kids
      // -- submit music tracks

      #map

    #agenda

      h2 Agenda

    #rsvp

      h2 R.S.V.P.

    #telegram

      h2 Send a telegram

    #registry

      h2. Registry

    //- KAIZEN
