// Decoration theme
// ----------------------------------------------------------------------------

.decoration {

}

#intro {

  background-image: url('../img/large/kayak.jpg');

}

#decoration-1 {

  background-image: url('../img/large/spotifyish.jpg');

}

#decoration-2 {

  background-image: url('../img/large/wines.jpg');

}
