// ----------------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------------

$desktop  : em(1400px);
$laptop   : em(1024px) em(1400px);
$tablet   : em(800px) em(1024px);
$handset  : em(320px) em(800px);
$oldphone : max-width em(320px);

