// ----------------------------------------------------------------------------
// Colours
// ----------------------------------------------------------------------------

$clr-bg          : #fff;
$clr-body-copy   : #000;

$clr-link-off    : #449;
$clr-link-hover  : #66b;
$clr-link-active : #88d;

// Grey ramp
// ----------------------------------------------------------------------------

$clr-grey-0 : #333; // darkest
$clr-grey-1 : #555;
$clr-grey-2 : #777;
$clr-grey-3 : #999;
$clr-grey-4 : #bbb;
$clr-grey-5 : #ddd;
$clr-grey-6 : #eee; // lightest

// Theme
// ----------------------------------------------------------------------------

$grey     : #b2b5ba;
$charcoal : #232c3b;
$white    : #fff;
$purple   : #a080c3;
$lime     : #bfead9;
$grey     : #63657e;
$blue     : #bef6fe;
$teal     : #5ea1f7;
$orange   : #ffb41b;

// Base text
// ----------------------------------------------------------------------------

$clr-text-base : rgb(51, 51, 51);

// Hyperlinks
// ----------------------------------------------------------------------------

$clr-link         : darken($teal, 20%);
$clr-link-hover   : darken($clr-link, 20%);
$clr-link-active  : darken($clr-link, 30%);

// States
// ----------------------------------------------------------------------------

$clr-bg-success    :#dff0d8;
$clr-bdr-success   :#d6e9c6;
$clr-text-success  :#3c763d;

$clr-bg-error      :#f2dede;
$clr-bdr-error     :#ebccd1;
$clr-text-error    :#a94442;

// Navigation
// ----------------------------------------------------------------------------

$clr-text-nav          : $white;
$clr-bg-nav            : $teal;
$clr-btn-secondary-nav : $white;
$clr-bdr-secondary-nav : $clr-grey-3;

// Form elements
// ----------------------------------------------------------------------------

$clr-border-input : $clr-grey-4;
$clr-bg-input     : $clr-grey-6;

$clr-bg-submit       : $lime;
$clr-bg-submit-hover : lighten($clr-bg-submit, 5%);

$clr-text-submit       : darken($lime, 40%);
$clr-text-submit-hover : darken($clr-text-submit, 20%);

$clr-bdr-form       : lighten($grey, 40%);
$clr-bdr-form-focus : lighten($grey, 30%);

// Intro
// ----------------------------------------------------------------------------

$clr-text-intro : $white;

// Kaizen
