// ----------------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------------

// Margins/ Padding
// ------------------------------------------------------------------------

$gutter-XXS   : 1px;
$gutter-XS    : 3px;
$gutter-S     : 5px;
$gutter-M     : 8px;
$gutter-L     : 15px;
$gutter-XL    : 20px;
$gutter-XXL   : 30px;
$gutter-XXXL  : 50px;

$gutter-input : 10px;
