!!! 5
%html{:"lang"=>'en'}
    %head
        %meta{ :"charset" => "UTF-8"}
        %title Tests
        %link{ :"rel" => "stylesheet", :"href" => "tests/css/mocha.css" }
        %script{ :"src" => "tests/js/mocha.js" }
        %script{ :"src" => "tests/js/chai.js" }

        :javascript
            mocha.setup('bdd')

        %script{ :"src" => "static/js/libs/jquery-1.8.3.min.js" }
        %script{ :"src" => "static/js/libs/underscore-1.4.2.min.js" }
        %script{ :"src" => "static/js/libs/backbone-0.9.2.min.js" }
        %script{ :"src" => "static/js/libs/backbone.marionette-1.0.0-rc6.min.js" }
        %script{ :"src" => "static/dist/app.min.js" }
        %script{ :"src" => "tests/js/tests.js" }
    %body

        %div#mocha

        :javascript
            $(function(){
              mocha
                .globals(['App']) // acceptable globals
                .run()
            })

-# KAIZEN
