//
// Intro
//

#intro {

  @include background-size(cover);

  background-image : url('../img/large/kayak.jpg');
  background-size  : cover;
  height           : 100%;
  overflow         : hidden;
  position         : relative;

  h1 {

    color  : $clr-text-intro;
    margin : 0;

  }

  .aid {

    bottom     : em($gutter-XL);
    color      : $clr-text-intro;
    font-size  : em($text-size-XXL);
    position   : absolute;
    text-align : center;
    width      : 100%;

  }

}
