//
// Navigation
//

#navigation {

  z-index : 5;

  a {

    @include span(4 of 4);
    color       : $clr-text-nav;
    font-family : ywft-hannah-regular;
    font-size   : em($text-size-L);
    font-weight : bold;
    padding     : em($gutter-M);
    text-align  : center;

  }


  @include breakpoint($handset) {

    a {

      @include span(1 of 6);
      padding : em($gutter-M) + em($gutter-S) em($gutter-M) em($gutter-M);

    }

    .multi-word a {

      padding : em($gutter-S) em($gutter-M);

    }

  }

  @include breakpoint($tablet-and-up) {

    a {

      @include span(1 of 6);
      padding : em($gutter-M);

    }

  }

  ul {

    @include container(100%);
    background : $clr-bg-nav;

  }

  li {

    display : block;

  }

}

