//
// Navigation
//

#navigation {

  display : none;

  z-index : 5;

  a {

    @include span(4 of 4);
    color       : $clr-text-nav;
    font-family : ywft-hannah-regular;
    font-size   : em($text-size-L);
    font-weight : bold;
    padding     : em($gutter-M);
    text-align  : center;

  }


  @include breakpoint($tablet) {

    display : block;

    a {

      @include span(1 of 7);
      padding : em($gutter-M) + em($gutter-S) em($gutter-M) em($gutter-M);

    }

    .multi-word a {

      padding : em($gutter-S) em($gutter-M);

    }

  }

  @include breakpoint($tablet-and-up) {

    display : block;

    a {

      @include span(1 of 7);
      padding : em($gutter-M);

    }

  }

  ul {

    @include container(100%);
    background : $clr-bg-nav;

  }

  li {

    display : block;

  }

}

#secondary-navigation {

  background : $clr-bg-nav;
  height     : 100%;
  left       : 100%;
  position   : fixed;
  width      : 80%;
  z-index    : 5;

  .secondary-nav-visible & {

    left       : 20%;
    transition : all .3s ease-out;

  }

  @include breakpoint($tablet-and-up) {

    display : none;

  }

  .btn {

    left       : em(-$gutter-XXL);
    position   : absolute;
    top        : em($gutter-M);

  }

  .btn-icon {

    background : none;
    border     : 0;
    color      : $clr-btn-secondary-nav;
    font-size  : em($text-size-L);
    text-shadow : 0 2px 0 $clr-bdr-secondary-nav;

  }

  ul {

    margin : em($gutter-XL) em($gutter-L);

  }

  li {

    margin    : em($gutter-L);

    a {

      color     : $clr-text-nav;
      font-size : em($text-size-L);

    }

  }

}

body {

  left       : 0;
  transition : all .3s ease-out;

}


.secondary-nav-visible {

  @include breakpoint($handset-and-down) {

    left : -80%;
    position : relative;

  }

}

