//
// Page
//
// ----------------------------------------------------------------------------

#main {

  //@include outer-container;
  height: 100%;

  h1 {

    text-align: center;
    margin-top: $gutter * 4;

  }

  @include media($tablet) {

    h1 {

      margin-top: $gutter * 2;

    }

  }

  @include media($desktop) {

    margin-top: $gutter;

  }

}

#intro {

  overflow : hidden;
  height   : 100%;
  position : relative;
  background-image: url('../img/large/kayak.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {

    margin:0;
    position : fixed;
    top   : 3em;
    right: 3em;

  }

}

#navigation {

  background: white;

  ul {

    overflow : hidden;
    margin : 0 auto;
    padding: 0;

  }

  li {
    display: block;

  }

  a {

    float: left;
    color: white;
    width: 20%;
    padding: 1.5em;
    font-size: 1.5em;
    text-align: center;

  }

}

#details {

  height   : 100%;

}
.decoration {

  @extend %cover-image;

}

h1 {}

h2 {}

#intro {}

#navigation {

  li {

    a {}

  }

}

#details {

  dl {

    dt {}

    dd {}

  }


}

#contact {}

#agenda {}

#rsvp {}

#registry {}

