//- HTML 5
!!! 5

//- Use the .oldie class to target IE < 9
//if lte IE 8
    <html class='no-js oldie' lang='en'>

//[if gt IE 8]<!
html.no-js(lang='en')
    //<![endif]
    head

        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        title Template

        meta(name='description', content= '')
        meta(name='author', content='Craig Dallimore')

        link(rel='shortcut icon', type='image/png', href='/static/img/favicon.png')

        //- CSS output from SASS / Grunt
        link(rel='stylesheet', href='/static/dist/app.min.css')

        //- Provides some CSS3 selectors for IE 6,7,8
        //if (gte IE 6)&(lte IE 8)
            script(src='/static/js/libs/selectivizr-1.0.2.min.js')

        script(src='/static/js/libs/modernizr-2.6.2.min.js')

    body
        noscript
            p This site works better with JavaScript enabled.

        block content

        //- Load libraries from CDN
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js' )
        script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.0.0-rc6/backbone.marionette.min.js')

        //- Failing that, use local libraries
        script window.jQuery   || document.write('<script src="/static/js/libs/jquery-1.8.3.min.js"><\/script>')
        script window._        || document.write('<script src="/static/js/libs/underscore-1.4.4.min.js"><\/script>')
        script window.Backbone || document.write('<script src="/static/js/libs/backbone-0.9.10.min.js"><\/script>')
        script (window.Backbone && window.Backbone.Marionette) || document.write('<script src="/static/js/libs/backbone.marionette-1.0.0-rc6.min.js"><\/script>')

        //- JavaScript output from Grunt
        script(src='/static/dist/app.min.js')

        //- Analytics
        script
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));


//- KAIZEN
