// Colours
// ----------------------------------------------------------------------------

$clr-bg: #efefef;
$clr-body-copy: #444;


$clr-link-off: #449;
$clr-link-hover: #66b;
$clr-link-active: #88d;




$clr-lemon: lemonchiffon;
$clr-blue: #5d9fbf;















